/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle, rgba(238,243,255,1) 0%, rgba(237,240,255,1) 35%, rgba(255,240,245,1) 100%);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
}

/* Navigation Bar */
.navbar {
  margin-top: 15px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 55px;
    border-radius: 10px;
}

/* Main Container with Glassmorphism */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1400px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.174);
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.text-content {
    width: 50%;
}

h1 {
    font-size: 3rem;
    color: #2b2b2b;
}

.tagline {
    font-size: 1.5rem;
    color: #6b6b6b;
    margin: 10px 0;
}

.description {
    font-size: 1rem;
    color: #555;
    margin-top: 20px;
    text-align: justify;
}

.image-container {
    width: 45%;
    text-align: right;
}

.image-container img {
    width: 83%;
    object-fit: contain;
}



/*----------RESPONSIVIDADE--------------*/


@media screen and (max-width: 768px){
    h1 {
        font-size: 1.4rem;
        color: #2b2b2b;
    }
    .description {
        font-size: 0.7rem;
        margin-top: 10px;
        text-align: justify;
    }
    .tagline{
        font-size: 1rem;
    }
    .navbar {
        margin-top: 17px;
    }
    .navbar ul {
        gap: 0px;
    }
    .navbar ul li a {
        padding: 0px 35px;
    }
    .container {
        justify-content: space-between;
        width: 80%;
        max-width: 1000px;
        padding: 50px;
        border-radius: 20px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.071);
    }
    body{
        height: 85vh;
    }
    .image-container {
        width: 100%;
    }
} 